@keyframes mymove_SEC_SOT {
    0%   {transform : rotateX(250deg) rotateY(-180deg) rotateZ(-130deg);}
    100% {transform : rotateX(310deg) rotateY(-180deg) rotateZ(-220deg);}
}

@keyframes mymove_SOT_NOC {
    0%   {transform : rotateX(130deg) rotateY(0deg) rotateZ(-40deg);}
    100% {transform : rotateX(60deg) rotateY(0deg) rotateZ(-140deg);}
}

@keyframes mymove_NOC_NET {
    0% {transform : rotateX(60deg) rotateY(0deg) rotateZ(-140deg);}
    100% {transform : rotateX(130deg) rotateY(0deg) rotateZ(-230deg);}
}

@keyframes mymove_NET_SEC {
    0% {transform : rotateX(130deg) rotateY(0deg) rotateZ(-230deg);}
    100% {transform : rotateX(250deg) rotateY(-180deg) rotateZ(-130deg);}
}